*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
html{scroll-behavior:smooth}

header{
	background:#efe9df91;
	width: 100%;
	height:800px;
}
 nav{
 	position: fixed;
 	top: 0;
	background-color:#fff;
	width: 100%;
	height:100px;
	color:black;
	display:flex;
	justify-content:space-between;
	align-items: center;
	padding:0px 80px ;
	padding-top:30px;
	padding-bottom: 10px;
}
 nav a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.menu a{
	font-family:sans-serif;
	padding:10px;
	font-size: 19px;
	margin-right:10px;
}
.menu a:hover{ 
  text-decoration: underline #e53935;
 }
.button{
	text-align: center;
	padding-top: 15px;
	background-color: orange;
	width:30%px;
	/*float: left;*/
	font-size:17px;
	height: 55px;
	font-weight: bolder;
	border: 2px solid orange;
	transition:0.1s;
	border-radius:10px;
	cursor: pointer;
}
.button:hover{
	transform:scale(1.1) ;
	background-color: white;
}
/*.button a:hover{
  font-size:19px;
  font-weight: bolder;
}*/
.a{
	padding-top:76px;
}
.a h1{
	  font-weight: bolder;
	  font-family:sans-serif ;
    font-size:75px;
    width:48%;
    margin-left:79px;
    margin-top:8%;
    height: 257px;
  }
.a p{
	  width:44%;
	  font-family: sans-serif;
	  font-size:20px;
    margin-left:79px;
    color:#536671;
}
.a a{
	text-decoration: none;
	color: black;
	margin:-73px;
	margin-left:76px;
	padding:21px;
	font-family: sans-serif;
	font-weight: bolder;
	padding-left:50px;
	padding-right: 50px;
	border-radius:8px;
	cursor: pointer;
	background-color:#ffc107;
	border: 2px solid #ffc107;
}
.a a:hover{
	background-color: white;
}
.b a{
	margin-left:75px;
	font-family: sans-serif;
	color: black;
	cursor: pointer;
}
.b a:hover{
	color: orange;
}
.image{
	float:right;
	margin-top:-512px;
}
.image img{
	width:523px;
	height:327px;
	cursor: pointer;
	border-radius: 15px;
	margin-right: 45px;
	transition: 1s;
}
.image img:hover{
transform: scale(1.1);
}
.page{
	background-color:#efe9df91;
	height:600px;
	width:100%;
}
.page h1{
	  font-size: 48px;
    float: right;
    padding-top:126px;
    width:666px;
    height: 155px;
    /*border: 2px solid black;*/
    font-family: sans-serif;
}
.page p{
	  float: right;
	  color:#544646;
    padding-top:144px;
    width:666px;
    font-family: sans-serif;
    font-size:22px;
}
.page a{
	float: right;
	color: black;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bolder;
  padding:19px;
  cursor: pointer;
  width:326px;
	margin-right: -327px;
  margin-top: 289px;
	border-radius:8px;
	background-color:#ffc107;
	border: 2px solid #ffc107;
}
.page a:hover{
 background-color: white;
}
.school{
	float:left;
	cursor: pointer;
	margin-top:-512px;
}
.school2 img{
	width:523px;
	height:409px;
	margin-left: 45px;
	margin-top: 5%;
	transition: 1s;
}
.school2 img:hover{
transform: scale(1.1);
}
.build h1{
	  font-weight: bolder;
	  font-family:sans-serif ;
    font-size:53px;
    width:44%;
    margin-left:79px;
    padding-top:6%;
    height:163px;
  }
 .build{
   background-color:#fff ;
   height: 500px;
  }
.build p{
	  width:44%;
	  font-family: sans-serif;
	  font-size:20px;
	  padding-top:4%;
    margin-left:79px;
    color:#536671;
}
.build a{
	text-decoration: none;
	color: black;
	margin:-73px;
	margin-left:76px;
	padding:21px;
	font-family: sans-serif;
	font-weight: bolder;
	padding-left:50px;
	padding-right: 50px;
	border-radius:8px;
	background-color:#ffc107;
	border: 2px solid #ffc107;
	cursor: pointer;
}
.build a:hover{
	background-color: white;
}
.build p u:hover{
	color:orange;
}
.school{
	float:right;
	margin-top:-512px;
}
.school img{
	width:544px;
	cursor: pointer;
	height:400px;
	margin-top: ;
	border-radius: 15px;
	margin-top: 3%;
	margin-right: 45px;
	transition: 1s;
}
.school img:hover{
transform: scale(1.1);
}
.website h1{
	  font-weight: bolder;
	  font-family:sans-serif ;
    font-size:47px;
    width:44%;
    margin-left:79px;
    padding-top:6%;
    height:111px;
  }
 .website{
   background-color:#fff ;
   height: 500px;
  }
.website p{
	  width:44%;
	  font-family: sans-serif;
	  font-size:20px;
	  padding-top:8%;
    margin-left:79px;
    color:#536671;
}
.website a{
	text-decoration: none;
	color: black;
	margin:-73px;
	margin-left:76px;
	padding:21px;
	font-family: sans-serif;
	font-weight: bolder;
	padding-left:50px;
	padding-right: 50px;
	border-radius:8px;
	background-color:#ffc107;
	border: 2px solid #ffc107;
	cursor: pointer;
}
.website a:hover{
	background-color: white;
}
.website img{
	float:right;
	margin-top:-356px ;
}
.free{
	background-color:#efe9df91;
	height:500px;
	width:100%;
}
.free h1{
	  font-size: 48px;
    float: right;
    padding-top:59px;
    width:666px;
    height: 155px;
    margin-left: 126px;
    /*border: 2px solid black;*/
    font-family: sans-serif;
}
.free p{
	  float: right;
	  color:#544646;
    padding-top:83px;
    width:666px;
    font-family: sans-serif;
    font-size:19px;
}
.free a{
	float: right;
	color: black;
	text-align: center;
	text-decoration: none;
	font-family: sans-serif;
	font-weight: bolder;
  padding:19px;
  cursor: pointer;
  width:200px;
	margin-right: -203px;
  margin-top:262px;
	border-radius:8px;
	background-color:#ffc107;
	border: 2px solid #ffc107;
}
.free a:hover{
 background-color: white;
}
.free img{
	float:left;
	cursor: pointer;
	margin-top:-512px;
}
.free img{
	width: 563px;
    height: 412px;
    margin-left: 45px;
    margin-top: -3%;
    transition: 1s;
}
.free img:hover{
transform: scale(1.1);
}
.cold h1{
	  font-weight: bolder;
	  font-family:sans-serif ;
    font-size:43px;
    width:44%;
    margin-left:79px;
    padding-top:6%;
    height:111px;
  }
 .cold{
   background-color:#fff ;
   height: 500px;
  }
.cold p{
	  width:44%;
	  font-family: sans-serif;
	  font-size:20px;
	  padding-top:6%;
    margin-left:79px;
    color:#536671;
}
.cold a{
	text-decoration: none;
	color: black;
	margin:-73px;
	margin-left:76px;
	padding:21px;
	font-family: sans-serif;
	font-weight: bolder;
	padding-left:50px;
	padding-right: 50px;
	border-radius:8px;
	background-color:#ffc107;
	border: 2px solid #ffc107;
	cursor: pointer;
}
.cold a:hover{
	background-color: white;
}
.cold img{
	float: right;
    width: 569px;
    height: 267px;
    margin-top: -275px;
}
.cold p u:hover{
	color: orange;
	cursor: pointer;
}
.start{
	height:600px;
	background-color:#efe9df91;
}
.start h1{
	padding-top: 15px;
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}
.color{
	font-size:23px;
	font-weight: 100;
	background-color: orange;
  width:307px;
}
.blue{
	font-size: 45px;
	margin-top:25px ;
}
.cool{
	float: left;
	margin-top: 45px;
	margin-left:308px;
	width: 255px;
	text-align: center;
	height: 100px;
}
.cool i{
	font-size: 55px;
	color: orange;
}
.cool h1{
	font-family: sans-serif;
	font-size:33px;
}
.cool p{
	padding-top: 45px;
	font-size: 19px;
	color:#544646;
	font-family: sans-serif;
}
.cool button{
	font-size:15px;
	background-color: orange;
	border-radius:8px;
	border: 2px solid orange;
	padding:20px;
	transition: 1s;
}
.cool button:hover{
	transform: scale(1.1);
}
.hot{
	float:right;
	margin-top: 45px;
	text-align: center;
	margin-right:308px;
	width: 255px;
	height: 100px;
}
.hot i{
	font-size:65px;
	color: orange;
}
.hot h1{
	font-family: sans-serif;
	font-size:33px;
}
.hot p{
	padding-top: 45px;
	font-size: 19px;
	color:#544646;
	font-family: sans-serif;

}
.hot button{
	font-size:15px;
	background-color: orange;
	border-radius:8px;
	border: 2px solid orange;
	margin-top:51px;
	padding:20px;
	transition: 1s;
}
.hot button:hover{
	transform: scale(1.1);
}
.dollar{
	height: 800px;
}
.ice h1{
	text-align: center;
	padding-top:55px;
	font-size:45px;
	color:#3e3e3e ;
	font-family: sans-serif;
}
.ice p{
  font-size:19px;
  font-family: sans-serif;
  text-align:center;
  width:673px;
  margin-top: 3%;
  margin-left:25%;
  color:#3e3e3e ;
}
.ice h3{
	text-align: center;
	font-weight:bolder;
	margin-top: 3%;
	font-family: sans-serif;
	color:#3e3e3e ;
}
.ice a{
	color:#3e3e3e ;
	font-family: sans-serif;
	margin-left: 38%;
}
.ice a:hover{
	color:orange;
	cursor: pointer;
}
.nice{
	height:700px;
}
.nice p{
	margin-top:42px;
	font-size: 20px;
	text-align: center;
	color: #3e3e3e;
	width:762px;
	margin-left:286px;
	font-family: sans-serif;
}
.nice h3{
	text-align: center;
	font-weight:bolder;
	margin-top: 3%;
	font-family: sans-serif;
	color:#3e3e3e ;
}
.nice a{
	color:#3e3e3e ;
	font-family: sans-serif;
	margin-left:43%;
}
.nice a:hover{
	color:orange;
	cursor: pointer;
}
.o{
	margin-left:-11%;
}
.good{
	color: white;
	height:400px;
	text-align: center;
	background-color:black;
}
.good h1{
	padding-top:10%;
	font-family: sans-serif;
	font-size:48px;
}
.good p{
	padding-top:21px;
	font-family: sans-serif;
	font-size: 19px;
}
.good button{
	font-size:15px;
	background-color: orange;
	border-radius:67px;
	border: 2px solid orange;
	margin-top:-8px;
	font-family: sans-serif;
	font-weight: bolder;
	padding:20px;
	transition: 1s;
}
.good button:hover{
	transform: scale(1.1);
}
.our {
	height: 500px;
	color:#5d5959;
	margin-left:69px;
	 font-family: sans-serif;
}
.our li {
  list-style: none;
  padding:5px;
  font-size: 19px;
}
.our p{
	font-size: 19px;
	margin-top: 24px;
}
.our h1{
	margin-top: 81px;
}
.our button{
	font-size:15px;
	background-color: orange;
	border-radius:8px;
	border: 2px solid orange;
	padding-top:25px;
	padding-bottom:25px;
	padding-left: 140px;
	font-weight: bolder;
	padding-right: 140px;
	transition: 1s;
}
.our button:hover{
	transform: scale(1.1);
}
.our u:hover{
	color:orange;
	cursor: pointer;
}
.our img{
	  float: right;
    width: 542px;
    margin-top: -544px;
    height: 626px;
}
.list{
	margin-top:1441px;
	color: white;
	text-align: center;
	background-color: black;
	height: 200px;
	font-family: sans-serif;
}
.list h1{
	padding-top:22px;
	font-size:47px;
}
.food{
	float:left;
	background-color:#edebe7;
	margin-top:-71px;
	border: 2px solid #edebe7;
	text-align: center;
	padding:32px;
	margin-left:163px;
	width: 472px;
  height:559px;
}
.food h1{
	color:#3e3e3e ;
	font-family: sans-serif;
	font-size:47px;
}
.food p{
	padding-top: 45px;
	font-size: 19px;
	color:#544646;
	font-family: sans-serif;
}
.food p b{
	font-size:43px;
}
.food button{
	font-size:21px;
	background-color: orange;
	border-radius:8px;
	border: 2px solid orange;
	margin-top:51px;
	padding:20px;
	transition: 1s;
}
.food button:hover{
	transform: scale(1.1);
}
.drink{
	float:right;
	background-color:#edebe7;
	margin-top:-71px;
	border: 2px solid #edebe7;
	text-align: center;
	padding:32px;
	margin-right:163px;
	width: 472px;
  height:559px;
}
.drink h1{
	color:#3e3e3e ;
	font-family: sans-serif;
	font-size:47px;
}
.drink p{
	padding-top: 45px;
	font-size: 19px;
	color:#544646;
	font-family: sans-serif;
}
.drink button{
	font-size:21px;
	background-color: orange;
	border-radius:8px;
	border: 2px solid orange;
	margin-top:51px;
	padding:20px;
	transition: 1s;
}
.drink button:hover{
	transform: scale(1.1);
}
footer{
	color: white;
	font-family: sans-serif;
	margin-top:576px;
	background-color:black;
	height:590px;
}
.yum img{
	margin-top:47px;
	margin-left:76px;
}
.footer{
  display: flex;
  float: right;
  margin-right:176px;
  margin-top: -112px;
}
.footer h1{
	padding: 15px;
}
.footer p{
    padding:8px;
    margin-left: 15px;
    font-size:19px;
    color: grey;    
    cursor: pointer;
}
.footer p:hover{
    color: white;
}
.footer input{
	padding:15px;
	outline: none;
	border-radius:10px;
	padding-left: 85px;
}
.yo{
	width:294px;
	font-size:15px;
}
.footer button{
	font-size:21px;
	width: 305px;
	background-color: orange;
	border-radius:8px;
	border: 2px solid orange;
	padding:20px;
}
.footer button:hover{
 background-color:#ffa50087 ;
}
.dance i {
	font-size:26px;
	padding-top: 11px;
	padding-left:9px ;
	color: black;
	background-color: orange;
	width:43px;
	height:43px;
  margin-top:26px;
  margin-left:30px;
}
.dance i:hover{
	background-color:white ;
}
.ring{
	font-size: 20px;
	margin-top: 15px;
	margin-left:110px;
}
.ring select{
	outline: none;
}
.ring img{
	margin-bottom: -4px;
	width:20px;
	height:20px;
}
.game{
	margin-top:364px;
	background-color: #a99f9f40;
	height:56px;
}
.game p{
	padding-top: 15px;
	text-align: center;
	color: white;
}